/* GENERAL LAYOUT */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.inner {
  padding: 30px;
}

.container {
  width: 100%;
}
/* HEADER */

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.pld-logo {
  float: left;
}



/* FOOTER  */

ul.social-media {
  margin-bottom: 30px;
}
.social-media > li {
  color: hsla(0,50%,100%,1);
  font-size: 45px;
  margin: 0;
  padding: 0;
}
.social-media > li + li {
  margin-left: 20px;
}
.social-media > li > a:hover {
  color: #181818;
}


/* MAIN */

.cover-heading {
  margin: 10px 0 30px;
}
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0 30px;
}
.lead {
  font-size: 19px;
}
h2 {
  font-size: 24px;
  margin-top: 0;
}

.dl-horizontal {
  font-size: 16px;
}
.dl-horizontal dt, dd {
  line-height: 1.6;
}
.dl-horizontal dt {
  font-weight: 400;
}
.dl-horizontal dd {
  margin-bottom: 10px;
  font-weight: 100;
}

.portfolio-description {
  margin-bottom: 20px;
}
.portfolio-tools {
  font-weight: 400;
}

a,
a:focus,
a:hover {
  color: #fff;
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
  margin: 15px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/* RESPONSIVE */

@media (min-width: 768px) {
  .masthead-nav {
    float: right;
  }
  .dl-horizontal dt {
    width: 265px;
  }
  .dl-horizontal dd {
    text-align: left;
    margin-left: 310px;
  }
  .dl-horizontal dt, dd {
    line-height: 1.6;
  }
}

@media (min-width: 992px) {
  .head-small,
  .main-width-small,
  .main-width-medium,
  .main-width-x-medium {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-width-x-medium {
    width: 950px;
  }
  .main-width-medium {
    width: 800px;
  }
  .main-width-small {
    width: 600px;
  }
  .main-height-small {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .main-height-medium {
    margin-top: 180px;
    margin-bottom: 120px;
  }
  .main-height-large {
    margin-top: 120px;
  }
  .dl-horizontal {
    margin: 50px 0 30px;
  }
  .dl-horizontal dt {
    width: 370px;
  }
  .dl-horizontal dd {
    text-align: left;
    margin-left: 425px;
  }
}
@media (max-width: 992px) {
  .masthead-nav, .pld-logo {
    display: block;
    float: none;
    text-align: center;
  }
  .pld-logo {
    margin-bottom: 20px;
  }


}
