<section id="biography" class="main-width-small main-height-large">
  <header>
    <h1 class="cover-heading">About me</h1>
  </header>
  <%= image_tag "paulld-profile-picture.jpg", :class => "profile-picture" %>
  <!-- <p class="lead lead-biography">Thank you for visiting my site!</p> -->
  <p class="lead lead-biography">
    I am Paul Lugagne Delpon,<br>
    a former investment banker turned passionate web developer.<br>
    I made the move to do things I love!
  </p>
  <p class="lead lead-biography">
    I not only do my best to build great applications, but also enjoy brainstorming,
    planning, and implementing business ideas. I work hard to build web applications
    that are accessible, usable, functional, and beautiful.
  </p>
  <p class="lead lead-biography">
    Two of my favorite activities, coding and sports, have the same keys 
    to success - fun and practice!
  </p>
  <p class="lead lead-biography">
    I enjoy learning new frameworks and languages, with a current preference for 
    Meteor, Ruby on Rails, AngularJS, and Ember. I use the PostgreSQL and MongoDB 
    databases extensively, and I spend significant time improving my skills in 
    usability, accessibility (to people with disabilities), and Agile web development.
  </p>
</section>
