<section id="contact" class="main-width-small main-height-medium">
  <header>
    <h1 class="cover-heading">Contact Me</h1>
  </header>
  <p class="lead contact-text">
    I would love to hear from you!
  </p>
  <p class="lead contact-text">
    <br>Please contact me by email:&nbsp;
    <a class="portfolio-link" href="mailto:info@paulld.com" name="Send me an email">info@paulld.com</a>
    &nbsp;or via Skype:&nbsp;
    <a class="portfolio-link" href="skype:paul.ld?add" name="Add me on Skype">
      paul.ld
    </a>
  </p>
  <p class="lead contact-text">
    <br>Alternatively, you may visit my&nbsp;
    <a class="portfolio-link" href="https://github.com/paulld" name="View my Github account">GitHub</a>
    &nbsp;and&nbsp;
    <a class="portfolio-link" href="https://www.linkedin.com/in/paullugagnedelpon" name="View my Linkedin profile">LinkeIn</a>
    &nbsp;accounts
  </p>
  <p class="lead contact-text">
    <br>I also&nbsp;
    <a class="portfolio-link" href="https://twitter.com/paul__ld" name="View my Twitter page">Tweet</a>
    &nbsp;in English and French
  </p>
</section>
