<section id="skillset" class="main-width-medium main-height-large">
  <header>
    <h1 class="cover-heading">Technical Skillset</h1>
  </header>
  <div class="skills-list">
    <dl class="dl-horizontal">
      <dt>Markup languages</dt>
      <dd>HTML5, Slim, Emblem</dd>
      
      <dt>Programming languages &amp; libraries</dt>
      <dd>JavaScript, CoffeeScript, Ruby, EmberScript, jQuery</dd>

      <dt>Frameworks</dt>
      <dd>Ruby on Rails, Node.js, Meteor, AngularJS, Ember.js</dd>

      <!-- <dt>Libraries</dt> -->
      <!-- <dd>jQuery, </dd> -->

      <dt>Style languages &amp; frameworks</dt>
      <dd>CSS3, LESS, Stylus, Responsive design, Bootstrap</dd>

      <dt>Databases</dt>
      <dd>PostgreSQL, SQL queries, MongoDB, built-in JSON API</dd>

      <dt>Methodologies</dt>
      <dd>Agile, TDD/BDD, RSpec</dd>

      <dt>Management</dt>
      <dd>GitHub, Git Flow, Pivotal Tracker, Trello, Asana, Invision</dd>

      <dt>Design software</dt>
      <dd>Sketch, Adobe Photoshop, Illustrator, inDesign</dd>

    </dl>
  </div>
</section>
