<section id="contact-success" class="main-width-small main-height-medium">

  <div>
    <% flash.each do |key, value| %>
      <p class="lead contact-text">
        <%= value %>
      </p>
    <% end %>
  </div>

  <p class="lead contact-text">
    Alternatively, I am reachable via 
    <a class="portfolio-link" href="skype:paul.ld?add" name="Add me on Skype">
      Skype
    </a>
    or by email:&nbsp;
    <a class="portfolio-link" href="mailto:info@paulld.com" name="Send me an email">info@paulld.com</a>
  </p>
</section>