<section id="contact-success" class="main-width-small main-height-medium">

  <div>
    <% flash.each do |key, value| %>
      <p class="lead contact-text">
        <%= value %>
      </p>
    <% end %>
  </div>
</section>