<section id="contact-success" class="main-width-small main-height-medium">
  <header>
    <h1 class="sr-only">Contact</h1>
  </header>

  <div>
    <% flash.each do |key, value| %>
      <p class="lead contact-text">
        <%= value %>
      </p>
    <% end %>
  </div>

  <!-- <p class="lead contact-text">
    You may also visit my&nbsp;
    <a class="portfolio-link" href="https://github.com/paulld" name="View my Github account">GitHub</a>
    &nbsp;and&nbsp;
    <a class="portfolio-link" href="https://www.linkedin.com/in/paullugagnedelpon" name="View my Linkedin profile">LinkeIn</a>
    &nbsp;accounts
  </p> -->
</section>