<section>
  <header>
    <h1 class="sr-only">Personal accounts</h1>
  </header>
  <ul class="list-inline social-media">
    <li>
      <a href="https://github.com/paulld" name="View my Github account">
      <i class="fa fa-github-square"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/paullugagnedelpon" name="View my Linkedin profile">
      <i class="fa fa-linkedin-square"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/paul__ld" name="Access my Twitter account">
      <i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="skype:paul.ld?add" name="Add me on Skype">
      <i class="fa fa-skype"></i></a>
    </li>
    <li>
      <a href="mailto:paul@lugagnedelpon.com" name="Send me an email">
      <i class="fa fa-envelope-o"></i></a>
    </li>
  </ul>
</section>